PORT=8090
PUBLIC_ORIGIN=https://firefly.kumadrama.com
REDIS_URL=redis://redis:6379
UPLOAD_DIR=/data/uploads
SESSION_SECRET=replace-with-at-least-32-random-characters
SESSION_TTL_SECONDS=2592000
DATABASE_PATH=/data/firefly.db
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_TENANT_KEY=
ALLOWED_EMAIL_DOMAIN=dokuai.tv
ARK_API_KEY=
BYTEPLUS_ACCESS_KEY_ID=
BYTEPLUS_SECRET_ACCESS_KEY=
BYTEPLUS_REGION=ap-southeast-1
BYTEPLUS_PROJECT=default
BYTEPLUS_OPENAPI_ENDPOINT=https://open.byteplusapi.com
PROVIDER_POLL_INTERVAL_MS=7000
GENERATION_CONCURRENCY=4
MEDIA_STORAGE_BACKEND=tos
TOS_ACCESS_KEY_ID=
TOS_SECRET_ACCESS_KEY=
TOS_REGION=cn-beijing
TOS_ENDPOINT=tos-cn-beijing.bytepluses.com.cn
TOS_BUCKET=drama-firefly
TOS_PREVIEW_TTL_SECONDS=7200
TOS_DOWNLOAD_TTL_SECONDS=43200
TOS_INPUT_RETENTION_DAYS=7
TOS_UPLOAD_PART_SIZE=16777216
TOS_UPLOAD_CONCURRENCY=3
TOS_REQUEST_TIMEOUT_MS=60000
TOS_UPLOAD_REQUEST_TIMEOUT_MS=180000
TOS_TRANSCODE_DEADLINE_MS=600000
TOS_FETCH_DEADLINE_MS=120000
TOS_SOURCE_STREAM_TIMEOUT_MS=900000
TOS_PREVIEW_TRANSCODE_ENABLED=true
TOS_PREVIEW_MAX_BITRATE=3500000
